node_modules
dist
example/node_modules
example/dist
example/build
example/coverage
example/dist-ssr
example/public
example/src
example/tsconfig.app.json
example/tsconfig.node.json
example/tsconfig.json
example/vite.config.ts
example/README.md
example/package.json
example/package-lock.json